include ../constants/constants
mixin aboutItem(date, title, imgUrl, className)  
  .about-item    
    .about-item-container(class=className)
      .title-sub.title-sub-bold=date
      .title-sub.title-sub-bold=title     
      .about-item-description
        +dummyDescription()
    .about-item-img-container(class=className) 
      img.coreImage(src=imgUrl, alt=title)
    
