include ../constants/constants
mixin aboutItem(date, title, imgUrl, className)  
  .about-item    
    .about-item-container(class=className)
      .about-item-date.title=date
      .about-item-title.title=title     
      .about-item-description
        +dummyDescription()
    .about-item-img-container(class=className) 
      img.coreImage(src=imgUrl, alt=title)
    
