include ../constants/constants
include ../mixins/descriptionItem
section.portfolio(id="portfolio")  
  .portfolio-main-container.container
    .portfolio-description-container
      .portfolio-desc-left-panel
        .title-main
          h2 #{PORTFOLIO_TITLE}
        .portfolio-description-main=DUMMY_DESCRIPTION
        .portfolio-description-additional=DUMMY_DESCRIPTION
        .portfolio-description-items-container
          each item in PORTFOLIO_COLLECTION
            +descriptionItem(item.url, item.title)         
      .portfolio-desc-right-panel 
        img(src=require('./styles/images/smartphone.png'), alt='smartphone')      
    .portfolio-gallery-container     
      while GALLERY_INDEX <= GALLERY_LENGTH     
        img(src=require('./styles/images/portf-'+GALLERY_INDEX+'.png'), alt='portf-'+GALLERY_INDEX++)  

    